<div class="wrapper">
  <div class="ball1"></div>
  <div class="container">
    <div class="form-container" *ngIf="form == 'email'">
      <div class="title">
        <h1>Send OTP</h1>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="showAlert">
        {{ alert }}
      </div>
      <form
        [formGroup]="emailForm"
        (ngSubmit)="onSubmitEmail()"
        name="emailForm"
      >
        <div class="group">
          <label class="inputLbl">Email Address</label>
          <input
            type="text"
            class="form-control border-bottom"
            formControlName="email"
            required
          />
          <div
            class="validation"
            *ngIf="email?.invalid && (email?.dirty || email?.touched)"
          >
            <p *ngIf="email?.errors?.['required']">
              Email address is required.
            </p>
            <p *ngIf="email?.errors?.['email']">Invalid email address.</p>
          </div>
        </div>
        <button type="submit" class="loginbtn load">
          <span class="loader" *ngIf="showSpinner"></span>SEND OTP
        </button>
      </form>
    </div>

    <div class="form-container" *ngIf="form == 'otp'">
      <div class="title">
        <h1>Validate OTP</h1>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="showAlert">
        {{ alert }}
      </div>
      <form [formGroup]="otpForm" (ngSubmit)="onSubmitOTP()" name="otpForm">
        <div class="group">
          <label class="inputLbl">OTP Code</label>
          <input
            type="text"
            class="form-control border-bottom"
            formControlName="otp"
            required
          />
          <div
            class="validation"
            *ngIf="otp?.invalid && (otp?.dirty || otp?.touched)"
          >
            <p *ngIf="otp?.errors?.['required']">OTP code is required.</p>
          </div>
        </div>
        <button type="submit" class="loginbtn">VALIDATE</button>
      </form>
    </div>

    <div class="form-container" *ngIf="form == 'pass'">
      <div class="title">
        <h1>Reset Password</h1>
      </div>
      <form [formGroup]="passForm" (ngSubmit)="onSubmitPass()" name="passForm">
        <div class="group">
          <label>Password</label>
          <div class="input-group">
            <div>
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control border-bottom pass-input"
                formControlName="password"
                required
              />
              <i
                class="bi bi-eye-slash"
                (click)="togglePasswordVisibility()"
                *ngIf="!showPassword"
              ></i>
              <i
                class="bi bi-eye"
                (click)="togglePasswordVisibility()"
                *ngIf="showPassword"
              ></i>
            </div>
          </div>
          <div
            class="validation"
            *ngIf="
              (password?.value.invalid && password?.dirty) || password?.touched
            "
          >
            <div *ngIf="password?.errors?.['required']">
              Password is Required
            </div>
            <div *ngIf="password?.errors?.['minlength']">
              Password must 8 characters above
            </div>
            <div *ngIf="password?.errors?.['hasLowercase']">
              Password must contain lowercase
            </div>
            <div *ngIf="password?.errors?.['hasUppercase']">
              Password must contain uppercase
            </div>
            <div *ngIf="password?.errors?.['hasNumber']">
              Password must contain number
            </div>
            <div *ngIf="password?.errors?.['hasSymbol']">
              Password must contain symbol
            </div>
          </div>
        </div>
        <div class="group">
          <label>Confirm Password</label>
          <div class="input-group">
            <div>
              <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                class="form-control border-bottom pass-input"
                formControlName="confirmPass"
                required
              />
              <i
                class="bi bi-eye-slash"
                (click)="toggleConfirmPasswordVisibility()"
                *ngIf="!showConfirmPassword"
              ></i>
              <i
                class="bi bi-eye"
                (click)="toggleConfirmPasswordVisibility()"
                *ngIf="showConfirmPassword"
              ></i>
            </div>
          </div>
          <div
            class="validation"
            *ngIf="
              (confirmPassword?.invalid && confirmPassword.dirty) ||
              confirmPassword?.touched
            "
          >
            <div *ngIf="confirmPassword?.errors?.['required']">
              Confirm password is Required
            </div>
          </div>
        </div>
        <button type="submit" class="loginbtn">UPDATE PASSWORD</button>
      </form>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#ffffff"
      fill-opacity="1"
      d="M0,224L48,197.3C96,171,192,117,288,101.3C384,85,480,107,576,144C672,181,768,235,864,224C960,213,1056,139,1152,122.7C1248,107,1344,149,1392,170.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    ></path>
  </svg>
</div>
