.loginContainer {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
    align-items: center;
    padding: 0px;
}

.title {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 700;
}

.forgotPassform {
    min-width: 150px;
    max-width: 400px;
    width: 100%;
    padding: 0px;
    margin-bottom: 10px;
}
  
.formField{
   width: 100%;
}

.validation {
    color: red;
    text-align: left;
    justify-content: left;
    align-items: left;
    margin: 5px 0px 5px 0px;
}

.loginbtn {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 0px;
}