<div class="container mt-5">
    <div class="items" (click)="goToOrderDetails()">
        <div class="status d-flex justify-content-end mb-3">
            <button type="button">Received</button>
        </div>
        <div class="row g-0 text-left ms-4">
            <div class="col-md-2">
                <img src="//cdn.shopify.com/s/files/1/2227/7667/products/AsusSDRW-08D2S-U_1024x1024.jpg?v=1571552362"/>
            </div>
            <div class="col-md-4 me-4 mb-2">ASUS SDRW-08D2S-U LITE DVD Optical Drive DVDrw External</div>
            <div class="col-md-2">₱1,470.00</div>
            <div class="col-md-2">Qty: 2</div>
        </div>
        <div class="row g-0 text-left ms-4">
            <div class="col-md-2">
                <img src="//cdn.shopify.com/s/files/1/2227/7667/products/DSC00399_zpsvktz3vdt_1024x1024.jpg?v=1571552431"/>
            </div>
            <div class="col-md-4 me-4 mb-2">Bluray Drive 9.5 Slim USB3.0</div>
            <div class="col-md-2">₱4,690.00</div>
            <div class="col-md-2">Qty: 1</div>
        </div>
    </div>

    <div class="items" (click)="goToOrderDetails()">
        <div class="status  d-flex justify-content-end">
            <button>Pending</button>
        </div>
        <div class="row g-0 text-left ms-4">
            <div class="col-md-2">
                <img src="//cdn.shopify.com/s/files/1/2227/7667/files/FSPDaggerPROGoldSFXGen5850W80_FullModularSDA2-850Gen5PowerSupply_1024x1024.jpg?v=1683275183"/>
            </div>
            <div class="col-md-4 me-4 mb-2">FSP Dagger PRO Gold SFX Gen5 850W 80+ Full Modular SDA2-850 Gen5 Power Supply</div>
            <div class="col-md-2 ">₱7,250.00</div>
            <div class="col-md-2">Qty: 1</div>
        </div>
    </div>
</div>