<div class="items" (click)="goToOrderDetails()">
  <div class="status">
    <button>Pending</button>
  </div>
  <div class="item-container">
    <div class="image">
      <img
        src="//cdn.shopify.com/s/files/1/2227/7667/files/FSPDaggerPROGoldSFXGen5850W80_FullModularSDA2-850Gen5PowerSupply_1024x1024.jpg?v=1683275183"
      />
    </div>
    <div class="col-md-4 me-4 mb-2">
      FSP Dagger PRO Gold SFX Gen5 850W 80+ Full Modular SDA2-850 Gen5 Power
      Supply
    </div>
    <div class="price">₱7,250.00</div>
    <div class="quantity">Qty: 1</div>
  </div>
</div>
