.container {
  min-height: calc(100vh - 4rem);
}

.image {
  height: 8rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.item-container > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 992px) {
  .item-container {
    grid-template-columns: 1fr 1.8fr 0.6fr 0.6fr;
  }

  .item-container > * {
    justify-content: center;
  }

  .total-container {
    justify-content: flex-end;
  }

  .total-price {
    margin-right: 4rem;
  }

  .total-qty {
    margin-right: 3rem;
  }
}
