<div class="wrapper">
  <div class="sidebar" [class.show-sidebar]="isShowMenu">
    <div class="logo">Logo</div>
    <nav>
      <div class="link" routerLink="/dashboard" routerLinkActive="link-active">
        <mat-icon fontIcon="dashboard"></mat-icon>Dashboard
      </div>
      <div class="link" routerLink="/products" routerLinkActive="link-active">
        <mat-icon fontIcon="inventory"></mat-icon>Product List
      </div>
      <div class="link" routerLink="/users" routerLinkActive="link-active">
        <mat-icon fontIcon="person"></mat-icon>User List
      </div>
    </nav>
  </div>
  <main>
    <header>
      <div class="left-nav">
        <div class="icon icon-menu" (click)="toggleMenu()">
          <i class="bi bi-list" *ngIf="!isShowMenu"></i>
          <i class="bi bi-x" *ngIf="isShowMenu"></i>
        </div>
        <div class="location">Dashboard</div>
      </div>
      <div class="icon" (click)="logout()">
        <mat-icon fontIcon="person"></mat-icon><span>Logout</span>
      </div>
    </header>
    <div class="main-container">
      <div class="card-grid">
        <div class="card">
          <div class="card-content">
            <div>
              <div class="data">
                <div class="big-font">55</div>
                <div class="name">Active Users</div>
              </div>
            </div>
            <div class="icon-box">
              <i class="bi bi-person-circle"></i>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-content">
            <div>
              <div class="data">
                <div class="big-font">66</div>
                <div class="name">Total Products</div>
              </div>
            </div>
            <div class="icon-box">
              <i class="bi bi-archive"></i>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div>
              <div class="data">
                <div class="big-font">34</div>
                <div class="name">Total Orders</div>
              </div>
            </div>
            <div class="icon-box">
              <i class="bi bi-bar-chart-line-fill"></i>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-content">
            <div>
              <div class="data">
                <div class="big-font">10,980</div>
                <div class="name">Inventory Items</div>
              </div>
            </div>
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="responsive-container">
        <div class="card chartCanvas">
          <div class="title">Top Items</div>
          <canvas id="lineChart"></canvas>
        </div>

        <div class="card tblCard">
          <div class="title">Details</div>
          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="demo-table">
              <ng-container
                *ngFor="let column of columns"
                [matColumnDef]="column.columnDef"
              >
                <th mat-header-cell *matHeaderCellDef>
                  {{ column.header }}
                </th>
                <td mat-cell *matCellDef="let row">
                  {{ column.cell(row) }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
