<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="wrapper">
  <div class="sidebar" [class.show-sidebar]="isShowMenu">
    <div class="logo">Logo</div>
    <nav>
      <div class="link" routerLink="/dashboard" routerLinkActive="link-active">
        <mat-icon fontIcon="dashboard"></mat-icon>Dashboard
      </div>
      <div class="link" routerLink="/products" routerLinkActive="link-active">
        <mat-icon fontIcon="inventory"></mat-icon>Product List
      </div>
      <div class="link" routerLink="/users" routerLinkActive="link-active">
        <mat-icon fontIcon="person"></mat-icon>User List
      </div>
    </nav>
  </div>
  <main>
    <header>
      <div class="left-nav">
        <div class="icon icon-menu" (click)="toggleMenu()">
          <i class="bi bi-list" *ngIf="!isShowMenu"></i>
          <i class="bi bi-x" *ngIf="isShowMenu"></i>
        </div>
        <div class="location">Dashboard</div>
      </div>
      <div class="icon" (click)="logout()">
        <mat-icon fontIcon="person"></mat-icon><span>Logout</span>
      </div>
    </header>
    <div class="main-container">
      <div class="chart-container">
        <div class="chart-canvas">
          <div class="chart-title">Sold Items</div>
          <canvas id="lineChart"></canvas>
        </div>
      </div>

      <div class="table-container">
        <table>
          <thead>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Description</th>
            <th>Sold Quantity</th>
            <th>Sold Price</th>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of products">
              <tr>
                <td>{{ item.productName }}</td>
                <td>{{ item.brand }}</td>
                <td>{{ item.category }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.soldItems }}</td>
                <td>{{ item.soldPrice }}</td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>
