<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="wrapper">
  <div class="sidebar" [class.show-sidebar]="isShowMenu">
    <div class="logo">Logo</div>
    <nav>
      <div class="link" routerLink="/dashboard" routerLinkActive="link-active">
        <mat-icon fontIcon="dashboard"></mat-icon>Dashboard
      </div>
      <div class="link" routerLink="/products" routerLinkActive="link-active">
        <mat-icon fontIcon="inventory"></mat-icon>Product List
      </div>
      <div class="link" routerLink="/users" routerLinkActive="link-active">
        <mat-icon fontIcon="person"></mat-icon>User List
      </div>
    </nav>
  </div>
  <main>
    <header>
      <div class="left-nav">
        <div class="icon icon-menu" (click)="toggleMenu()">
          <i class="bi bi-list" *ngIf="!isShowMenu"></i>
          <i class="bi bi-x" *ngIf="isShowMenu"></i>
        </div>
        <div class="location">Dashboard</div>
      </div>
      <div class="icon" (click)="logout()">
        <mat-icon fontIcon="person"></mat-icon><span>Logout</span>
      </div>
    </header>
    <div class="main-container">
      <div class="chart-container">
        <div class="chart-canvas">
          <div class="chart-title">Top Sold Items</div>
          <canvas id="lineChart"></canvas>
        </div>
      </div>

      <table mat-table [dataSource]="dataSource" class="demo-table">
        <ng-container
          *ngFor="let column of columns"
          [matColumnDef]="column.columnDef"
        >
          <th mat-header-cell *matHeaderCellDef>
            {{ column.header }}
          </th>
          <td mat-cell *matCellDef="let row">
            {{ column.cell(row) }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </main>
</div>
