.myCard {
  position: relative;
  width: 300px;
  border: 1px solid rgb(229, 229, 229);
}

.img {
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.img > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  padding: 0 1.5rem 1.5rem;
}

.product-name,
.price {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-name {
  font-size: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
}

.price {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.commands {
  display: grid;
  grid-template-columns: 1fr 3rem;
  gap: 0.5rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.add {
  background-color: rgb(76, 175, 80);
  color: rgb(255, 255, 255);
}

.add:hover {
  background-color: rgb(41, 150, 45);
}

.view {
  border: 1px solid rgb(76, 175, 80);
  color: rgb(76, 175, 80);
  background-color: transparent;
}

.view > i {
  font-size: 1rem;
}

.view:hover {
  background-color: rgb(76, 175, 80);
  color: rgb(255, 255, 255);
}

.bi-check2 {
  font-size: 1.25rem;
}
