<app-header></app-header>
<div class="container">
    <div class="border p-5">
        <h1>Change Password</h1>
        <form class="row g-3" [formGroup]="changePassForm" (ngSubmit)="onSubmit()" name="changePassForm">
            <div class="col-12">
                <label for="inputNewPass" class="form-label">New Password*</label>
                <input 
                    type="text" 
                    class="form-control border-bottom" 
                    id="inputNewPass"
                    placeholder="enter new password"
                    formControlName="newPass"
                    required
                >
                <!-- Validation -->
                <div
                    class="validation"
                    *ngIf="newPass?.invalid && (newPass?.dirty || newPass?.touched)"
                >
                    <p *ngIf="newPass?.errors?.['required']">
                        New password is required.
                    </p>
                    <p *ngIf="newPass?.errors?.['minLength']">
                        It must contain 8 characters and above.
                    </p>
                    <p *ngIf="newPass?.errors?.['hasUppercase']">
                        It must contain an uppercase letter.
                    </p>
                    <p *ngIf="newPass?.errors?.['hasLowercase']">
                        It must contain a lowercase letter.
                    </p>
                    <p *ngIf="newPass?.errors?.['hasNumber']">
                        It must contain a number.
                    </p>
                    <p *ngIf="newPass?.errors?.['hasSymbol']">
                        It must contain special characters.
                    </p>
                </div>
            </div>
            <div class="col-12">
                <label for="inputConfirmPass" class="form-label">Confirm Password*</label>
                <input 
                    type="password" 
                    class="form-control border-bottom" 
                    id="inputConfirmPass"
                    placeholder="enter new password"
                    formControlName="confirmPass"
                    required
                >
                <!-- Validation -->
                <div
                    class="validation"
                    *ngIf="confirmPass?.invalid && (confirmPass?.dirty || confirmPass?.touched)"
                >
                    <p *ngIf="confirmPass?.errors?.['required']">
                        Please enter new password again.
                    </p>
                </div>
            </div>
            <div class="col mt-5">
                <button type="submit">Change Password</button>
            </div>
        </form>
    </div>
</div>