.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 320px 1fr;
  font-weight: 300;
}

.sidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 0 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border-bottom: 1px solid rgb(229, 229, 229);
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem 0;
}

.link {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.125rem 1.75rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(76, 175, 80);
  font-size: 1rem;
  color: rgb(76, 175, 80);
  cursor: pointer;
}

.link:hover {
  background-color: rgb(76, 175, 80);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(76, 175, 80);
}

.link-active {
  background-color: rgb(76, 175, 80);
  color: rgb(255, 255, 255);
  border: 1px solid rgb(76, 175, 80);
}

.link:hover mat-icon {
  color: rgb(255, 255, 255);
}

mat-icon {
  font-size: 1.5rem;
}

main {
  min-height: 100vh;
  overflow-y: auto;
}

.main-container {
  padding: 1.5rem;
}

header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: rgb(255, 255, 255);
  background-color: rgb(76, 175, 80);
  z-index: 100;
}

.left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.location {
  font-size: 1.25rem;
  letter-spacing: 1px;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 100vmax;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  overflow: hidden;
  cursor: pointer;
  transition: width 300ms ease-in;
}

.icon:hover {
  width: 6rem;
}

.icon > span {
  display: none;
  font-size: 0.75rem;
}

.icon:hover > span {
  display: block;
}

.icon-menu:hover {
  width: 2.5rem;
}

i {
  font-size: 1.5rem;
}

.icon-menu {
  display: none;
}

.user-container {
  padding: 1.5rem;
  border: 1px solid rgb(76, 175, 80);
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.user-header > .title {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

.input-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.remove {
  display: flex;
  justify-content: center;
  align-content: start;
  padding: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  font-family: inherit;
  color: rgb(255, 255, 255);
  background-color: rgb(238, 59, 59);
}

.add {
  padding: 0.625rem;
  border-radius: 0.25rem;
  color: rgb(255, 255, 255);
  background-color: rgb(76, 175, 80);
}

i {
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

.product-image {
  width: 50%;
}

.button-group {
  display: flex;
  gap: 0.5rem;
}

.submit,
.clear {
  margin-top: 1rem;
  width: 6.5rem;
  padding: 0.625rem;
  border-radius: 0.25rem;
  color: rgb(255, 255, 255);
}

.submit {
  background-color: rgb(76, 175, 80);
}

.clear {
  color: rgb(255, 255, 255);
  background-color: rgb(238, 59, 59);
}

.form-select {
  border: none;
  border-radius: 4px;
}

.form-select:focus {
  box-shadow: inset 0px -10px 20px -10px rgba(198, 253, 211, 0.75);
}

.group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input-group > * {
  width: 100%;
  position: relative;
}

.pass-input {
  padding-right: 2.25rem;
}

.bi-eye-slash,
.bi-eye {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  display: block;
  transform: translateY(-50%);
  color: rgb(76, 175, 80);
  font-size: 1.125rem;
}

.form-control {
  height: 40px;
  border-radius: 0px;
  border: none;
  font-weight: 300;
}

.form-control:focus {
  box-shadow: inset 0px -10px 10px -10px rgba(198, 253, 211, 0.75);
}

.validation {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: red;
}

.table-container {
  padding: 1.5rem;
  border: 1px solid rgb(76, 175, 80);
  border-radius: 0.25rem;
}

.table-wrapper {
  overflow-y: auto;
}

.table-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-title > div {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 300;
}

.table-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 20rem;
}

table {
  border-collapse: collapse;
  margin-top: 1rem;
  border-radius: 0.25rem;
  border-bottom: 1px solid rgb(76, 175, 80);
  overflow: hidden;
}

table th {
  font-family: inherit;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  background-color: rgb(76, 175, 80);
  color: rgb(255, 255, 255);
}

table td {
  font-family: inherit;
  text-align: center;
  border-bottom: 1px solid rgb(76, 175, 80);
}

.table-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.edit,
.delete {
  padding: 0.5rem 0.675rem;
  border-radius: 0.25rem;
}

.edit {
  background-color: rgb(26, 127, 228);
}

.delete {
  background-color: rgb(238, 59, 59);
}

.active,
.deactivated,
.user,
.admin {
  padding: 0.25rem;
  border-radius: 100vmax;
  color: rgb(255, 255, 255);
}

.active {
  background-color: rgb(76, 175, 80);
}

.deactivated {
  background-color: rgb(238, 59, 59);
}

.user {
  background-color: goldenrod;
}

.admin {
  background-color: orangered;
}

.add {
  background-color: rgb(76, 175, 80);
}

.hidden-row {
  display: none;
}

@media screen and (max-width: 768px) {
  .icon-menu {
    display: flex;
  }

  .sidebar {
    position: absolute;
    top: 4rem;
    left: -100%;
    width: 100%;
    min-height: calc(100vh - 4rem);
    transition: left 300ms ease-in;
  }

  .show-sidebar {
    left: 0;
  }

  .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  header {
    padding: 1rem;
  }

  .left-nav {
    gap: 1rem;
  }

  .icon:hover {
    width: 2.5rem;
  }

  .icon:hover span {
    display: none;
  }

  .icon-profile {
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  .input-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
