<div class="editForm" >
    <h2 class="mb-4">Edit Profile</h2>
    <form class="row g-3" [formGroup]="editForm" (ngSubmit)="onSubmit()" name="editForm">
        <div class="col-md-4">
            <label for="inputFname" class="form-label">Firstname</label>
            <input 
                type="text" 
                class="form-control border-bottom" 
                id="inputFname" 
                formControlName="fname"
                required
            >
            <!-- Validation -->
            <div
                class="validation"
                *ngIf="fname?.invalid && (fname?.dirty || fname?.touched)"
            >
                <p *ngIf="fname?.errors?.['required']">
                    Firstname is required.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputMname" class="form-label">MiddleName</label>
            <input 
                type="text" 
                class="form-control border-bottom" 
                id="inputMname"
                formControlName="mname"
                required
            >
            <!-- Validation -->
            <!-- <div
                class="validation"
                *ngIf="mname?.invalid && (mname?.dirty || mname?.touched)"
                >
                <p *ngIf="mname?.errors?.['required']">MiddleName is required.</p>
            </div> -->
        </div>
        <div class="col-md-4">
            <label for="inputLname" class="form-label">Lastname</label>
            <input 
                type="text" 
                class="form-control border-bottom" 
                id="inputLname"
                formControlName="lname"
                required
            >
            <!-- Validation -->
            <div
                class="validation"
                *ngIf="lname?.invalid && (lname?.dirty || lname?.touched)"
            >
                <p *ngIf="lname?.errors?.['required']">
                    Lastname is required.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputUsername" class="form-label">Username</label>
            <input 
                type="text" 
                class="form-control border-bottom" 
                id="inputUsername"
                formControlName="username"
                required
            >
            <!-- Validation -->
            <div
                class="validation"
                *ngIf="username?.invalid && (username?.dirty || username?.touched)"
            >
                <p *ngIf="username?.errors?.['required']">
                    Username is required.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputEmail" class="form-label">Email</label>
            <input 
                type="text" 
                class="form-control border-bottom" 
                id="inputEmail"
                formControlName="email"
                required
            >
            <!-- Validation -->
            <div
                class="validation"
                *ngIf="email?.invalid && (email?.dirty || email?.touched)"
            >
                <p *ngIf="email?.errors?.['required']">Email is required.</p>
                <p *ngIf="email?.errors?.['email']">
                    Not an acceptable email type.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputMobileNo" class="form-label">Mobile no.</label>
            <input 
                type="" 
                class="form-control border-bottom" 
                id="inputMobileNo"
                formControlName="mobileNo"
                required
            >
            <!-- Validation -->
            <div
                class="validation"
                *ngIf="mobileNo?.invalid && (mobileNo?.dirty || mobileNo?.touched)"
            >
                <p *ngIf="mobileNo?.errors?.['required']">
                    Mobile number is required.
                </p>
                <p *ngIf="mobileNo?.errors?.['mobileNoIsValid']">
                    Mobile number is not acceptable
                </p>
                <p *ngIf="mobileNo?.errors?.['mobileNoHasNoLetters']">
                    It must not contain letters.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <label for="inputBday" class="form-label">Birthday</label>
            <input 
                type="date" 
                class="form-control border-bottom" 
                id="inputBday"
                formControlName="bday"
                required
            >
            <!-- Validation -->
            <div
                class="validation"
                *ngIf="bday?.invalid && (bday?.dirty || bday?.touched)"
            >
                <p *ngIf="bday?.errors?.['required']">Birthday is required.</p>
            </div>
        </div>
        <div class="col-md-4">
            <label class="form-label">List of Interest</label>
            <input 
                class="form-control border-bottom" 
                id="inputBday"
                formControlName="listOfInterest"
                required
            >
            <!-- Validation -->
            <div
                class="validation"
                *ngIf="listOfInterest?.invalid && (listOfInterest?.dirty || listOfInterest?.touched)"
            >
                <p *ngIf="listOfInterest?.errors?.['required']">List of interest is required.</p>
            </div>
        </div>
        <div class="btnCont">
            <button type="submit" class="btn saveBtn">Save Changes</button>
            <button type="button" class="btn cancelBtn" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>