.container {
  min-height: calc(100vh - 4rem);
}

.title {
  margin: 2rem 0;
  font-size: 1.75rem;
  font-weight: 300;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.item {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
  padding: 1.5rem;
  border: 1px solid rgb(220, 220, 220);
  margin-bottom: 0.5rem;
}

.item > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.image {
  height: 8rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.button-group > button {
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  border: 1px solid rgb(76, 175, 80);
  color: rgb(255, 255, 255);
  background-color: rgb(76, 175, 80);
}

.button-group > button:hover {
  background-color: rgb(55, 189, 60);
}

.button-group > div {
  padding: 0.5rem 1rem;
  border-top: 1px solid rgb(76, 175, 80);
  border-bottom: 1px solid rgb(76, 175, 80);
}

i {
  font-size: 1.25rem;
  color: rgb(238, 59, 59);
  cursor: pointer;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1.5rem 0;
  background-color: rgb(76, 175, 80);
  color: rgb(255, 255, 255);
}

.bot {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-check {
  display: grid;
  place-items: center;
}

.check,
.checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.checkout {
  gap: 1.5rem;
}

.check {
  font-size: 1rem;
}

.btn-checkout {
  padding: 0.625rem 1.5rem;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  transition: background-color 300ms ease;
}

.btn-checkout:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(76, 175, 80);
}

.form-check input {
  border-radius: 0px;
  margin-bottom: 0.25rem;
}

.form-check input:focus {
  box-shadow: none;
}

.selectAll input:focus {
  box-shadow: none;
}

@media screen and (min-width: 992px) {
  .item {
    grid-template-columns: 0.2fr 1fr 1.4fr 0.6fr 0.6fr 0.6fr;
    gap: 0;
  }

  .check-img {
    flex-direction: row;
    gap: 2.5rem;
  }
}
