<div class="wrapper">
  <div class="sidebar" [class.show-sidebar]="isShowMenu">
    <div class="logo">Logo</div>
    <nav>
      <div class="link" routerLink="/dashboard" routerLinkActive="link-active">
        <mat-icon fontIcon="dashboard"></mat-icon>Dashboard
      </div>
      <div class="link" routerLink="/products" routerLinkActive="link-active">
        <mat-icon fontIcon="inventory"></mat-icon>Product List
      </div>
      <div class="link" routerLink="/users" routerLinkActive="link-active">
        <mat-icon fontIcon="person"></mat-icon>User List
      </div>
    </nav>
  </div>
  <main>
    <header>
      <div class="left-nav">
        <div class="icon icon-menu" (click)="toggleMenu()">
          <i class="bi bi-list" *ngIf="!isShowMenu"></i>
          <i class="bi bi-x" *ngIf="isShowMenu"></i>
        </div>
        <div class="location">Products</div>
      </div>
      <div class="icon" (click)="logout()">
        <mat-icon fontIcon="person"></mat-icon><span>Logout</span>
      </div>
    </header>
    <div class="main-container">
      <div class="product-container">
        <div class="product-header">
          <h5 class="title">Product Information</h5>
        </div>
        <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
          <div class="input-container">
            <div class="group">
              <label for="item-name">Item Name</label>
              <input
                type="text"
                class="form-control border-bottom"
                formControlName="itemName"
                id="item-name"
                placeholder="Enter item name"
              />
              <div
                class="validation"
                *ngIf="
                  (productForm.get('itemName')?.invalid &&
                    productForm.get('itemName')?.dirty) ||
                  productForm.get('itemName')?.touched
                "
              >
                <div *ngIf="productForm.get('itemName')?.hasError('required')">
                  Item Name is Required
                </div>
              </div>
            </div>
            <div class="group">
              <label for="brand">Brand</label>
              <select
                (change)="onBrandSelected($event)"
                class="form-select"
                id="brand"
                aria-label="Brand"
                formControlName="brand"
              >
                <option hidden>Select Brand</option>
                <option *ngFor="let option of brandOptions" [value]="option">
                  {{ option }}
                </option>
                <option value="add">Add Brand</option>
              </select>
              <div
                class="validation"
                *ngIf="
                  (productForm.get('brand')?.invalid &&
                    productForm.get('brand')?.dirty) ||
                  productForm.get('brand')?.touched
                "
              >
                <div *ngIf="productForm.get('brand')?.hasError('required')">
                  Brand is Required
                </div>
              </div>
              <input
                id="brand"
                class="form-control"
                type="text"
                *ngIf="showAddBrand"
                [(ngModel)]="newBrand"
                [ngModelOptions]="{ standalone: true }"
                placeholder="New Brand"
              />
              <button
                class="add"
                *ngIf="showAddBrand"
                data-bs-toggle="modal"
                data-bs-target="#brandModal"
              >
                Add
              </button>
            </div>
            <div class="group">
              <label for="category">Category</label>
              <select
                (change)="onOptionSelected($event)"
                class="form-select"
                id="category"
                aria-label="Category"
                formControlName="category"
                [value]="buttonAction"
              >
                <option hidden>Select Category</option>
                <option *ngFor="let option of categoryOptions" [value]="option">
                  {{ option }}
                </option>
                <option value="add">Add Category</option>
              </select>
              <div
                class="validation"
                *ngIf="
                  (productForm.get('category')?.invalid &&
                    productForm.get('category')?.dirty) ||
                  productForm.get('category')?.touched
                "
              >
                <div *ngIf="productForm.get('category')?.hasError('required')">
                  Category is Required
                </div>
              </div>
              <input
                id="category"
                class="form-control"
                type="text"
                *ngIf="showAddOption"
                [(ngModel)]="newOption"
                [ngModelOptions]="{ standalone: true }"
                placeholder="New Category"
              />
              <button
                class="add"
                *ngIf="showAddOption"
                data-bs-toggle="modal"
                data-bs-target="#categoryModal"
              >
                Add
              </button>
            </div>
          </div>

          <div class="input-container">
            <div class="group" formArrayName="description">
              <label for="description">Description</label>
              <div
                class="input-group"
                *ngFor="let desc of description.controls; let i = index"
              >
                <input
                  type="text"
                  class="form-control border-bottom"
                  id="description"
                  placeholder="Enter description"
                  [formControlName]="i"
                />
                <span>
                  <button
                    class="remove"
                    type="button"
                    (click)="removeDescription(i)"
                  >
                    REMOVE
                  </button>
                </span>
              </div>
              <button class="add" type="button" (click)="addDescription()">
                ADD DESCRIPTION
              </button>
            </div>
            <div class="group">
              <label for="price">Price</label>
              <input
                type="number"
                class="form-control border-bottom"
                id="price"
                placeholder="Enter price"
                formControlName="price"
              />
              <div
                class="validation"
                *ngIf="
                  (productForm.get('price')?.invalid &&
                    productForm.get('price')?.dirty) ||
                  productForm.get('price')?.touched
                "
              >
                <div *ngIf="productForm.get('price')?.hasError('required')">
                  Price is Required
                </div>
              </div>
            </div>
            <div class="group">
              <label for="qty">Quantity</label>
              <input
                type="number"
                class="form-control border-bottom"
                id="qty"
                placeholder="Enter quantity"
                formControlName="quantity"
              />
              <div
                class="validation"
                *ngIf="
                  (productForm.get('quantity')?.invalid &&
                    productForm.get('quantity')?.dirty) ||
                  productForm.get('quantity')?.touched
                "
              >
                <div *ngIf="productForm.get('quantity')?.hasError('required')">
                  Quantity is Required
                </div>
              </div>
            </div>
          </div>

          <div class="group product-image">
            <label for="formFile">Product Image</label>
            <input
              class="form-control"
              (change)="onFileSelected($event)"
              type="file"
              id="formFile"
              formControlName="productImg"
            />
            <div
              class="validation"
              *ngIf="
                (productForm.get('productImg')?.invalid &&
                  productForm.get('productImg')?.dirty) ||
                productForm.get('productImg')?.touched
              "
            >
              <div *ngIf="productForm.get('productImg')?.hasError('required')">
                Product Image is Required
              </div>
            </div>
          </div>
          <div class="button-group">
            <button
              type="submit"
              class="submit"
              [ngClass]="{
                add: buttonAction === 'ADD',
                edit: buttonAction === 'EDIT'
              }"
            >
              {{ buttonAction }}
            </button>
            <button type="button" class="clear" (click)="reset()">RESET</button>
          </div>
        </form>
      </div>

      <!-- Brand Modal -->
      <div
        class="modal fade"
        id="brandModal"
        tabindex="-1"
        aria-labelledby="brandModalLabel"
        aria-hidden="true"
        *ngIf="showBrandModal"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="brandModalLabel">Add Brand</h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Are you do you want to add {{ newBrand }} as new Option for brand?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="addBrand()"
                data-bs-dismiss="modal"
              >
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Brand Modal -->
      <div
        class="modal fade"
        id="categoryModal"
        tabindex="-1"
        aria-labelledby="categoryModalLabel"
        aria-hidden="true"
        *ngIf="showCategoryModal"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="categoryModalLabel">
                Add Category
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              Are you do you want to add {{ newOption }} as new Option for
              category?
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                class="btn btn-primary"
                (click)="addNewOption()"
                data-bs-dismiss="modal"
              >
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="table-container">
        <div class="table-head">
          <div class="table-title">
            <div>Product List</div>
          </div>
          <div class="group">
            <input
              type="text"
              class="form-control border-bottom search"
              id="item-name"
              placeholder="Search Item"
              [(ngModel)]="search"
            />
          </div>
        </div>
        <div class="table-wrapper">
          <table mat-table [dataSource]="dataSource">
            <!-- Name -->
            <ng-container matColumnDef="itemName">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.productName }}
              </td>
            </ng-container>

            <!-- Brand -->
            <ng-container matColumnDef="itemBrand">
              <th mat-header-cell *matHeaderCellDef>Brand</th>
              <td mat-cell *matCellDef="let element">
                {{ element.brand }}
              </td>
            </ng-container>

            <!-- Category -->
            <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef>Category</th>
              <td mat-cell *matCellDef="let element">
                {{ element.category }}
              </td>
            </ng-container>

            <!-- Specs -->
            <ng-container matColumnDef="itemDesc">
              <th mat-header-cell *matHeaderCellDef>Specs</th>
              <td mat-cell *matCellDef="let element" class="td-description">
                {{ element.description }}
              </td>
            </ng-container>

            <!-- Quantity -->
            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>Quantity</th>
              <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
            </ng-container>

            <!-- Price -->
            <ng-container matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Price</th>
              <td mat-cell *matCellDef="let element">{{ element.price }}</td>
            </ng-container>

            <!-- Price -->
            <ng-container matColumnDef="image">
              <th mat-header-cell *matHeaderCellDef>Image</th>
              <td mat-cell *matCellDef="let element" class="td-img">
                <a href="{{ element.img }}" target="_blank">{{
                  element.img
                }}</a>
              </td>
            </ng-container>

            <!-- Price -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element">
                <div
                  class="status"
                  [ngClass]="{
                    available: element.isAvailable,
                    not: !element.isAvailable
                  }"
                >
                  {{ element.isAvailable ? "ACTIVE" : "DEACTIVATED" }}
                </div>
              </td>
            </ng-container>

            <!-- Actions -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element">
                <div class="table-buttons">
                  <button
                    class="edit"
                    (click)="editProduct(element.productId, element)"
                  >
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button
                    class="delete"
                    (click)="deleteProduct(element.productId)"
                  >
                    <i class="bi bi-trash"></i>
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              [ngClass]="{
                'hidden-row': !rowMatchesSearch(row)
              }"
            ></tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </div>
      </div>
    </div>
  </main>
</div>
