<div class="editForm">
  <form
    class="row g-3"
    [formGroup]="userForm"
    (ngSubmit)="onSubmit()"
    name="editForm"
  >
    <div class="input-container">
      <div class="group">
        <label>House No.</label>
        <input
          type="text"
          class="form-control border-bottom"
          placeholder="Enter house no"
          formControlName="houseNo"
        />
        <div
          class="validation"
          *ngIf="
            (userForm.get('houseNo')?.invalid &&
              userForm.get('houseNo')?.dirty) ||
            userForm.get('houseNo')?.touched
          "
        >
          <div *ngIf="userForm.get('houseNo')?.hasError('required')">
            House no is Required
          </div>
        </div>
      </div>
      <div class="group">
        <label>Building Name</label>
        <input
          type="text"
          class="form-control border-bottom"
          placeholder="Enter building name"
          formControlName="building"
        />
        <div
          class="validation"
          *ngIf="
            (userForm.get('building')?.invalid &&
              userForm.get('building')?.dirty) ||
            userForm.get('building')?.touched
          "
        >
          <div *ngIf="userForm.get('building')?.hasError('required')">
            Building name is Required
          </div>
        </div>
      </div>
      <div class="group">
        <label>Street Name</label>
        <input
          type="text"
          class="form-control border-bottom"
          placeholder="Enter street name"
          formControlName="street"
        />
        <div
          class="validation"
          *ngIf="
            (userForm.get('street')?.invalid &&
              userForm.get('street')?.dirty) ||
            userForm.get('street')?.touched
          "
        >
          <div *ngIf="userForm.get('street')?.hasError('required')">
            Street name is Required
          </div>
        </div>
      </div>
    </div>
    <div class="input-container">
      <div class="group">
        <label>Barangay</label>
        <input
          type="text"
          class="form-control border-bottom"
          placeholder="Enter barangay"
          formControlName="barangay"
        />
        <div
          class="validation"
          *ngIf="
            (userForm.get('barangay')?.invalid &&
              userForm.get('barangay')?.dirty) ||
            userForm.get('barangay')?.touched
          "
        >
          <div *ngIf="userForm.get('barangay')?.hasError('required')">
            Barangay is Required
          </div>
        </div>
      </div>
      <div class="group">
        <label>City</label>
        <input
          type="text"
          class="form-control border-bottom"
          placeholder="Enter city"
          formControlName="city"
        />
        <div
          class="validation"
          *ngIf="
            (userForm.get('city')?.invalid && userForm.get('city')?.dirty) ||
            userForm.get('city')?.touched
          "
        >
          <div *ngIf="userForm.get('city')?.hasError('required')">
            City is Required
          </div>
        </div>
      </div>
      <div class="group">
        <label>Province</label>
        <input
          type="text"
          class="form-control border-bottom"
          placeholder="Enter province"
          formControlName="province"
        />
        <div
          class="validation"
          *ngIf="
            (userForm.get('province')?.invalid &&
              userForm.get('province')?.dirty) ||
            userForm.get('province')?.touched
          "
        >
          <div *ngIf="userForm.get('province')?.hasError('required')">
            Province is Required
          </div>
        </div>
      </div>
    </div>
    <div class="input-container">
      <div class="group">
        <label>Zipcode</label>
        <input
          type="number"
          class="form-control border-bottom"
          placeholder="Enter zipcode"
          formControlName="zipcode"
        />
        <div
          class="validation"
          *ngIf="
            (userForm.get('zipcode')?.invalid &&
              userForm.get('zipcode')?.dirty) ||
            userForm.get('zipcode')?.touched
          "
        >
          <div *ngIf="userForm.get('zipcode')?.hasError('required')">
            Zipcode is Required
          </div>
        </div>
      </div>
    </div>
    <div class="button-group">
      <button type="submit" class="submit">EDIT</button>
      <button type="button" class="clear" (click)="reset()">RESET</button>
    </div>
  </form>
</div>
