<div class="container">
  <h2>Featured Products</h2>
  <div class="card-container">
    <app-card
      [img]="img"
      [productName]="productName"
      [price]="price"
    ></app-card>
    <app-card
      [img]="img"
      [productName]="productName"
      [price]="price"
    ></app-card>
    <app-card
      [img]="img"
      [productName]="productName"
      [price]="price"
    ></app-card>
    <app-card
      [img]="img"
      [productName]="productName"
      [price]="price"
    ></app-card>
    <app-card
      [img]="img"
      [productName]="productName"
      [price]="price"
    ></app-card>
    <app-card
      [img]="img"
      [productName]="productName"
      [price]="price"
    ></app-card>
    <app-card
      [img]="img"
      [productName]="productName"
      [price]="price"
    ></app-card>
    <app-card
      [img]="img"
      [productName]="productName"
      [price]="price"
    ></app-card>
  </div>
</div>
