.container {
    max-width: 100%;
}

.title {
    padding-top: 30px;
    margin: 10px 20px 30px 20px;
    border-bottom: 1px solid rgb(222, 221, 221);
}

.shippingAddressCont {
    border: 1px solid rgb(222, 221, 221);
    margin-bottom: 20px;
}

.shippingAddressCont .row .col-6 p{
    font-weight: 500;
}

.editAddressBtn {
    background-color: transparent;
    color: rgb(7, 205, 7);
    font-size: medium;
}

.rowCont {
    margin: 10px;
}

.rowCont .col1 {
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 0px;
}

.items {
    border: 1px solid rgb(222, 221, 221);
    margin-bottom: 10px;
}

.rowCont .col2 {
    padding: 0px;
    margin-right: 10px;
}

.orderSummaryCont {
    border: 1px solid rgb(222, 221, 221);
    padding: 20px;
}

.col2 .row .col-8 label {
    color: rgb(137, 135, 135);
}

.placeOrderBtn {
    border-radius: 0px;
    width: 100%;
}