<app-header></app-header>
<div class="container">
  <div class="title">Checkout</div>
  <div class="wrapper">
    <div class="left">
      <div class="address-container">
        <div class="address-header">
          <div>Shipping address</div>
          <button type="button" class="btn-edit">Edit</button>
        </div>
        <div class="address">
          <div><span>Receiver:</span></div>
          <div><span>Mobile Number:</span></div>
          <div><span>Address:</span></div>
        </div>
      </div>
      <!-- Item on Cart -->
      <div class="item-container" *ngFor="let item of cartItems">
        <div class="item">
          <div class="image">
            <!-- Image -->
            <img [src]="item.img" />
          </div>
          <!-- Details -->
          <!-- Item Name -->
          <div>
            {{ item.productName }}
          </div>
          <!-- Item Price -->
          <div>₱ {{ item.price }}</div>
          <!-- Quantity -->
          <div>Qty: {{ item.quantity }}</div>
        </div>
      </div>
    </div>

    <div class="summary-container">
      <div class="summary-header">
        <div class="summary-title">Order Summary</div>
        <div class="sum sum-1">
          <label>Subtotal (2 Items)</label>
          <div>₱ 50.00</div>
        </div>
      </div>
      <div class="sum">
        <div>Total Payment:</div>
        <div>₱ {{ calculateTotalPrice() }}</div>
      </div>
      <button type="button" class="btn-place-order" (click)="checkout()">
        PLACE ORDER
      </button>
    </div>
  </div>
</div>
