.container {
  min-height: calc(100vh - 4rem);
}

.title {
  margin: 2rem 0 1rem;
  padding-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 300;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

.left {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

.address-container {
  border: 1px solid rgb(220, 220, 220);
}

.address-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.address-header > div {
  font-weight: 400;
}

.btn-edit {
  color: rgb(76, 175, 80);
  background-color: transparent;
}

.address {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 1rem;
}

span {
  font-weight: 400;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1.4fr 0.8fr 0.8fr;
  padding: 1rem;
  gap: 1rem;
  border: 1px solid rgb(220, 220, 220);
  text-align: center;
}

.item > * {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  height: 8rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.summary-container {
  height: 13rem;
  padding: 1rem;
  border: 1px solid rgb(220, 220, 220);
}

.summary-header {
  display: flex;
  flex-direction: column;
}

.summary-title {
  font-size: 1.125rem;
  font-weight: 400;
}

.sum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.sum-1 {
  border-bottom: 1px solid rgb(220, 220, 220);
}

.btn-place-order {
  width: 100%;
  padding: 0.625rem;
  margin-top: 0.5rem;
  color: rgb(255, 255, 255);
  background-color: rgb(76, 175, 80);
}

.btn-place-order:hover {
  background-color: rgb(32, 163, 37);
}

@media screen and (min-width: 768px) {
  .wrapper {
    grid-template-columns: 1.4fr 0.6fr;
  }
}
