<app-header></app-header>
<div class="container">
  <div class="title">Checkout</div>
  <div class="wrapper">
    <div class="left">
      <div class="address-container">
        <div class="address-header">
          <div>Shipping address</div>
          <button type="button" class="btn-edit">Edit</button>
        </div>
        <div class="address" *ngFor="let user of userData">
          <div><span>Receiver:</span> {{ user.name }}</div>
          <div><span>Mobile Number:</span> {{ user.mobileNo }}</div>
          <div><span>Address:</span> {{ user.address }}</div>
        </div>
      </div>
      <!-- Item on Cart -->
      <div class="item-container" *ngFor="let prod of products">
        <div class="item">
          <div class="image">
            <!-- Image -->
            <img [src]="prod.prodImg" />
          </div>
          <!-- Details -->
          <!-- Item Name -->
          <div>
            {{ prod.prodName }}
          </div>
          <!-- Item Price -->
          <div>₱ {{ prod.prodPrice }}</div>
          <!-- Quantity -->
          <div>Qty: {{ prod.prodQuantity }}</div>
        </div>
      </div>
    </div>

    <div class="summary-container">
      <h2>Order Summary</h2>
      <div>
        <label>Subtotal (2 Items)</label>
        <div>₱{{ calculateTotalPrice() }}</div>
      </div>
      <div>
        <div>Total Payment:</div>
        <div>₱{{ calculateTotalPrice() }}</div>
      </div>
      <button type="button" class="btn btn-success placeOrderBtn">
        Place Order
      </button>
    </div>
  </div>
</div>
