<app-header></app-header>
<div class="container">
  <div class="product-container">
    <div class="img"><img [src]="product?.img" /></div>
    <div class="product-content">
      <div>
        <div class="product-title">{{ product?.productName }}</div>
        <div class="rating">
          <div>
            <span
              *ngFor="let ratingId of ratingArray; index as i"
              [id]="'star_' + i"
            >
              <mat-icon>
                {{ aveIconStatus(i) }}
              </mat-icon>
            </span>
          </div>
          <p class="ratingCountLbl">{{ userCount }} Ratings</p>
        </div>
        <div class="price">₱ {{ product?.price }}</div>
        <div class="qty">
          <div>Quantity:</div>
          <div class="button-group">
            <button (click)="decrease()">-</button>
            <div class="quantity">{{ quantity }}</div>
            <button (click)="increase()">+</button>
          </div>
        </div>
        <div class="actions">
          <button class="add" (click)="addToCart()">
            <i class="bi bi-cart-plus" *ngIf="!showCheck"></i>
            <i class="bi bi-check2 icon-cart" *ngIf="showCheck"></i> ADD TO CART
          </button>
          <button class="buy" (click)="buyNow()">
            <span class="loader" *ngIf="showSpinner"></span>
            BUY NOW
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="specs">
    <div class="title">Specifications</div>
    <div class="list" *ngFor="let spec of product?.description">
      <div><i class="bi bi-pc-display-horizontal pc"></i>{{ spec }}</div>
    </div>
  </div>

  <div class="comment">
    <div class="title rating">Review the Product</div>
    <div class="comment-input">
      <div class="circle">{{ firstLetter }}</div>
      <div class="input-container">
        <form (ngSubmit)="onSubmit()">
          <div class="input">
            <input
              type="text"
              [(ngModel)]="comment"
              [ngModelOptions]="{ standalone: true }"
            />
            <div *ngIf="comment != ''">
              <i class="bi bi-x" (click)="clear()"></i>
            </div>
          </div>
          <button type="submit"><i class="bi bi-send"></i></button>
        </form>
      </div>
    </div>
    <div class="title rating r">Product Reviews</div>
    <ng-container *ngFor="let comment of comments">
      <div class="review">
        <div class="review-header">
          <div>
            <span
              *ngFor="let ratingId of ratingArray; index as i"
              [id]="'star_' + i"
            >
              <mat-icon>
                {{ aveIconStatus(i) }}
              </mat-icon>
            </span>
          </div>
          <div class="date">{{ comment.commentDate }}</div>
        </div>
        <div class="name">{{ comment.commentator }}</div>
        <div class="com">
          {{ comment.comment }}
        </div>
        <div class="actions" *ngIf="comment.userId == userId">
          <div class="delete" (click)="deleteComment(comment.commentId)">
            <i class="bi bi-trash"></i>Delete
          </div>
          <div
            class="edit"
            (click)="editComment(comment.commentId, comment.comment)"
          >
            <i class="bi bi-pencil"></i>Edit
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
