<app-header></app-header>
<div class="container">
  <div class="product-container">
    <div class="img"><img [src]="product?.img" /></div>
    <div class="product-content">
      <div>
        <div class="product-title">{{ product?.productName }}</div>
        <div class="rating">
          <div>
            <span
              *ngFor="let ratingId of ratingArray; index as i"
              [id]="'star_' + i"
            >
              <mat-icon>
                {{ aveIconStatus(i) }}
              </mat-icon>
            </span>
          </div>
          <p class="ratingCountLbl">{{ userCount }} Ratings</p>
        </div>
        <div class="price">₱ {{ product?.price }}</div>
        <div class="qty">
          <div>Quantity:</div>
          <div class="button-group">
            <button>-</button>
            <div class="quantity">1</div>
            <button>-</button>
          </div>
        </div>
        <div class="actions">
          <button class="add">
            <i class="bi bi-cart-plus"></i> ADD TO CART
          </button>
          <button class="buy">BUY NOW</button>
        </div>
      </div>
    </div>
  </div>

  <div class="specs">
    <div class="title">Specifications</div>
    <div class="list" *ngFor="let spec of product?.description">
      <div><i class="bi bi-pc-display-horizontal pc"></i>{{ spec }}</div>
    </div>
  </div>

  <app-rating
    [userRatingsReview]="userRatingsReview"
    [userCount]="userCount"
    [totalRating]="totalRating"
    [aveUserRating]="aveUserRating"
    [prodName]="prodName"
  ></app-rating>
</div>
