<div class="wrapper">
  <div class="ball1"></div>
  <div class="container">
    <div class="form-container">
      <div class="title">
        <h1>Sign In</h1>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" name="loginForm">
        <!-- Username -->
        <div class="group">
          <label class="inputLbl">Username</label>
          <input
            type="text"
            class="form-control border-bottom"
            formControlName="username"
            required
          />
          <!-- Validation -->
          <div
            class="validation"
            *ngIf="username?.invalid && (username?.dirty || username?.touched)"
          >
            <p *ngIf="username?.errors?.['required']">Username is required.</p>
          </div>
        </div>
        <!-- Validation -->
        <div class="group">
          <label>Password</label>
          <div class="input-group">
            <div>
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control border-bottom pass-input"
                formControlName="password"
                required
              />
              <i
                class="bi bi-eye-slash"
                (click)="togglePasswordVisibility()"
                *ngIf="!showPassword"
              ></i>
              <i
                class="bi bi-eye"
                (click)="togglePasswordVisibility()"
                *ngIf="showPassword"
              ></i>
            </div>
          </div>
          <div
            class="validation"
            *ngIf="
              (loginForm.get('password')?.invalid &&
                loginForm.get('password')?.dirty) ||
              loginForm.get('password')?.touched
            "
          >
            <div *ngIf="loginForm.get('password')?.hasError('required')">
              Password is Required
            </div>
          </div>
        </div>
        <div class="forgot-password">Forgot Password?</div>
        <button type="submit" class="loginbtn">SIGN IN</button>
      </form>
      <div class="no-acc">
        Don't have an account? <span routerLink="/register">Sign up</span>
      </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#ffffff"
      fill-opacity="1"
      d="M0,224L48,197.3C96,171,192,117,288,101.3C384,85,480,107,576,144C672,181,768,235,864,224C960,213,1056,139,1152,122.7C1248,107,1344,149,1392,170.7L1440,192L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    ></path>
  </svg>
</div>
