.container {
    max-width: 500px;
    padding-top: 30px;
}

.form-control {
    height: 40px;
    border-radius: 0px;
    border: none;
    font-weight: 300;
}
  
.form-control:focus {
    box-shadow: inset 0px -10px 10px -10px rgba(198, 253, 211, 0.75);
}

.form-label {
    font-size: smaller;
}

.col-12 {
    margin-top: 50px;
}

.col button {
    width: 100%;
    padding: 10px;
    background-color: rgb(45, 161, 45);
    color: rgb(236, 236, 236);
}

.validation {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: red;
}