<app-header></app-header>
<div class="container">
    <div class="border p-5">
        <h1>Change Password</h1>
        <form class="row g-3" [formGroup]="changePassForm" (ngSubmit)="onSubmit()" name="changePassForm">
            <div class="col-12">
                <label for="inputEmail" class="form-label">Email*</label>
                <input 
                    type="text" 
                    class="form-control border-bottom" 
                    id="inputEmail"
                    placeholder="enter email"
                    formControlName="email"
                    required
                >
                <!-- Validation -->
                <div
                    class="validation"
                    *ngIf="email?.invalid && (email?.dirty || email?.touched)"
                >
                    <p *ngIf="email?.errors?.['required']">
                        Email is required.
                    </p>
                    <p *ngIf="email?.errors?.['email']">
                        Not an acceptable email type.
                    </p>
                </div>
            </div>
            <div class="col mt-5">
                <button type="submit">Confirm Email</button>
            </div>
        </form>
    </div>
</div>
