.container {
  min-height: calc(100vh - 3.25rem);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.filter > div {
  margin-bottom: 1rem;
}

.title {
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.checkbox-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

mat-slider {
  width: 90%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: 13rem 1fr;
    gap: 2rem;
  }
}
