<app-header></app-header>

<div class="container">
  <div class="filter">
    <div>
      <div class="title">Price</div>
      <mat-slider min="200" max="500">
        <input value="300" matSliderStartThumb />
        <input value="400" matSliderEndThumb />
      </mat-slider>
    </div>
    <div>
      <div class="title">Category</div>
      <div class="checkbox-container">
        <mat-checkbox
          color="primary"
          *ngFor="let category of categories"
          [checked]="selectedCategory === category"
          (change)="updateSelectedCategory(category, $event.checked)"
          >{{ category }}</mat-checkbox
        >
      </div>
    </div>
    <div>
      <div class="title">Brands</div>
      <div class="checkbox-container">
        <mat-checkbox
          color="primary"
          *ngFor="let brand of brands"
          [checked]="selectedBrands.includes(brand)"
          (change)="updateSelectedBrand(brand, $event.checked)"
          >{{ brand }}</mat-checkbox
        >
      </div>
    </div>
  </div>
  <div class="card-container">
    <!-- <div *ngIf="filteredProducts.length === 0" class="text-center mt-5 pt-5">
      No results found.
    </div> -->
    <div *ngFor="let product of productList">
      <app-card [product]="product" *ngIf="product.isAvailable"></app-card>
    </div>
  </div>
</div>
<app-footer></app-footer>
