.container {
  min-height: calc(100vh - 4rem);
}

.title {
  margin: 2rem 0;
  font-size: 1.75rem;
  font-weight: 300;
}

.orders-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.5rem;
}
