<app-header></app-header>
<div class="container">
  <div class="title">My Orders</div>
  <div class="orders-container" *ngFor="let i of orders | async">
    <div>
      <div class="status">
        <div>{{ i.date }}</div>
        <button>Pending</button>
      </div>
      <div *ngFor="let item of i.item | async">
        <app-pending-orders
          [order]="item"
          (click)="routeToProduct(item.productId)"
        ></app-pending-orders>
      </div>
      <div class="total-container">
        <div>
          <div class="total-price">
            Total Price: ₱ {{ localString(i.totalPrice) }}
          </div>
          <div class="total-qty">
            Total Qty: {{ localString(i.totalQuantity) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
